<section class=" footerStyle">
  <div class="container mt-5 px-5">
 <div class="row text-center gx-5 text-white ">
   <div class="col-md-4  ">
     <h3>LOCATION</h3>
     <p>2215 John Daniel Drive</p>
     <p>Clark, MO 65243</p>
   </div>
   <div class="col-md-4">
     <h3>AROUND THE WEB</h3>
     <ul class="list-unstyled d-flex justify-content-center align-items-center">
       <li class="px-1"><i class="fa-brands fa-facebook mx-1 icon"></i></li>
       <li class="px-1"><i class="fa-brands fa-twitter mx-1 icon"></i></li>
       <li class="px-1"><i class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
       <li class="px-1"><i class="fa-solid fa-globe mx-1 icon"></i></li>
     </ul>
   </div>
   <div class="col-md-4">
     <h3>ABOUT FREELANCER</h3>
     <p>Freelance is a free to use, licensed Bootstrap theme created by Route
     </p>
   </div>
 </div>
  </div>
 </section>
 <div class="subfooter">
   <p>Copyright © Your Website 2021</p>
  </div>
