<section id="portfolio">
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-md-12 text-center">
        <h2>PORTFOLIO COMPONENT</h2>
        <div class="d-flex align-items-center justify-content-center ">
          <div class="line1"></div>
          <i class="fa-solid fa-star mx-2"></i>
          <div class="line2"></div>
         </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="./assets/poert1.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>

      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="./assets/port2.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>
      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="/assets/port3.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>
      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="./assets/poert1.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>
      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="./assets/port2.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>
      <div class="col-md-4">
        <picture class="img-content d-block">
          <img src="./assets/port3.png" class="img-fluid rounded" alt="">
          <div class="layerimage">
            <i class="fa-solid fa-plus fa-6x"></i>
           </div>
        </picture>

      </div>

    </div>
  </div>
</section>
