<section id="contact">
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-md-12 text-center">
        <h2>CONATCT SECTION</h2>
        <div class="d-flex align-items-center justify-content-center ">
          <div class="line1"></div>
          <i class="fa-solid fa-star mx-2"></i>
          <div class="line2"></div>
         </div>
      </div>
    </div>
   <form>
    <input type="text" class="form-control w-75 mx-auto" name="username" placeholder="username">
    <input type="text" class="form-control w-75 mx-auto" name="userAge" placeholder="userAge">
    <input type="text" class="form-control w-75 mx-auto"  name="userEmail" placeholder="userEmail">
    <input type="text" class="form-control w-75 mx-auto"  name="userPassword" placeholder="userPassword">
    <button type="submit">send Message</button>
   </form>


  </div>
  </section>
